<ul>
    <li>
        <button class="btn btn-primary" type="input"  id="home" routerLink="../doctor-home" >Programarile curente</button>
    </li>
    <li>
        <button class="btn btn-primary" type="input"  id="istoric-programari" routerLink="../istoric-programari">Istoric Medical</button>
    </li>

    <li style="float: right;" ><button class="btn btn-primary" type="button" (click)="logout()">Delogare</button></li>
    <li class="liUserDiv">
            <p class="liDivP" id="username">Doctor</p>
        
    </li>
</ul>
