<app-navbar></app-navbar>

<div class="welcome">
  <h1>Informații Donare</h1>
  <div class="intrebari">

    <h3>De ce este nevoie de sânge?</h3>
    <span>Sângele nu se poate produce sau cumpăra. El poate fi obținut doar prin donare.</span>
    <h3>Cine are nevoie de sânge?</h3>
    <span>
      Cea mai mare nevoie este la pacienții care au nevoie de operații, de transplant, care au suferit arsuri sau au
      fost diagnosticați cu cancer. De asemenea, victimele accidentelor și copiii nou-născuți care au diferite anemii,
      au nevoie de transfuzii sanguine pentru a supraviețui.
    </span>
    <h3>Ce beneficii au donatorii de sânge?</h3>
    <span>
      <ul>
        <li> Salvezi 2 vieți</li>
        <li>Beneficiezi de un set de analize gratuit: RH, grupa sangvină, Hepatita B, C, HIV, leucemie, sifilis şi probe
          hepatice</li>
        <li> Îți crește imunitatea</li>
        <li>1 zi liberă</li>
        <li>Reducere de 50% la abonamentele pentru transportul în comun (autobuz și metrou)</li>
        <li>Bonuri de masă în valoare de 63 de lei</li>
      </ul>
    </span>


    <h3>Cine poate dona?</h3>
    <span>Poți dona dacă ai împlinit 18 ani, ai peste 50 de kilograme și:
      <ul>
        <li>au trecut 48 de ore de când ai consumat alcool</li>
        <li>au trecut 7 zile de când ai terminat tratamentul cu antibiotice</li>
        <li>au trecut minim 8 săptămâni de la ultima donare</li>
        <li>au trecut 6 luni de când ai avut o intervenție chirurgicală, ai fost la dentist sau ți-ai făcut tatuaj sau
          piercing</li>
        <li>nu ai alergii</li>
        <li>nu ești răcit</li>
        <li>nu ai avut hepatită, TBC sau alte boli infecțioase</li>
        <li>nu ai fost vaccinat în ultimele 2 săptămâni</li>
        <li>nu ești însărcinată și nu alăptezi</li>
        <li>au trecut mai mult de 6 luni de la avort</li>
        <li>nu ai relații sexuale (protejate sau neprotejate) cu mai mult de 2 parteneri, cu parteneri de același sex,
          cu un partener cu HIV, HTLV, atgHBS, ACHCV, SIFILIS, cu parteneri plătiți sau cu parteneri care s-au drogat
        </li>
        <li>nu ai avut relații sexuale ocazionale neprotejate în ultimele 6 luni</li>
      </ul>
    </span>
    <h3>Ce trebuie să fac înainte și după donare?</h3>
    <span>

      Înainte de a veni la donare e important să fii odihnit, bine hidratat și să te bucuri de un mic dejun sănătos
      (fără grăsimi). Încearcă să eviți alimentele grase, băuturile alcoolice și fumatul.

      După donare e important să te rehidratezi și să nu faci efort fizic extraordinar în următoarele ore. În rest, n-ai
      nicio restricție.
    </span>
    <h3>Cât de frecvent pot dona?</h3>
    <span>

      Legea permite donarea după un interval minim de 8 săptămâni, dar fără depășirea numărului maxim de donări permise
      anual. Bărbații pot dona de maxim 5 ori pe an, iar femeile de maxim 4 ori pe an.

      Recomandarea medicilor pentru refacerea completă a organismului este ca bărbații să doneze o dată la 2 luni și
      jumătate, iar femeile o dată la 3 luni.

      Medicul îți poate refuza donarea cu o frecvență mai mare decât cea recomandată, dacă aceasta îți poate pune
      sănătatea în pericol.
    </span>

    <h3>Există riscuri?</h3>
    <span>
      Donarea de sânge este sigură (sunt folosite doar materiale de unică folosință), iar dacă medicul te acceptă la
      donare, înseamnă că nu există nici un risc pentru tine din punct de vedere al sănătății.

      În schimb, dacă medicul consideră că ar exista vreo șansă să fii destabilizat după donare, nu vei ajunge în acel
      punct. Dânsa/dânsul îți vor explica de ce trebuie să revii la un alt moment sau e mai sigur pentru tine doar să
      promovezi donarea de sânge :). Iar dacă nu poți dona, sigur ai un prieten care poate dona.

    </span>
    <h3>Cum este testat sângele meu?</h3>
    <span>
      Testele biologice efectuate sistematic la fiecare donare cuprind:
      <ul>
        <li>determinarea grupei sanguine OAB și RH-ului</li>
        <li>determinarea hemoglobinei</li>
        <li>depistarea sifilisului</li>
        <li>depistarea anticorpilor antiHIV și antiHTLV</li>
        <li>depistarea hepatitei virale B și C</li>
        <li>determinarea enzimelor hepatice (transaminazele).</li>
      </ul>
    </span>
  </div>