$primaryRed: #dc0028;
$primaryWhite: #fff;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:$primaryRed;

    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
   
  }
  
  li {
    float: left;
  }
  
  @media screen and (max-width: 750px) {
    li button
    {
      display: block;
      color: $primaryWhite;
      background: $primaryRed;
      text-align: center;
      padding: 7px 7px;
      text-decoration: none;
      border: 0px;
      height: 58px; 
      &:hover {
        background: #a1001e;
      }
    }
}



@media screen and (min-width: 750px) {
  li button
  {
    display: block;
    color: $primaryWhite;
    background: $primaryRed;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 0px;
    height: 58px; 
    &:hover {
      background: #a1001e;
    }
  }
}
  
  
 
  ul img{
    width: 10%;
    height: 100%;
  }

.divNav{
  width: 10%;
  height: 100%;
  
}

.divNavImg{
  float: left;
  width: 100%;
  height: 80%;
}

// .liUserDiv{
//   float: right;
//    width: 9%;
//    height: 58px;
//    overflow: hidden;
// }

.liInsideDiv{
  width: 30%;
  height: 60%;
  float: left;
  margin-top: 12px;
  margin-right: 10px;
  margin-left: 5px;
}

.liInsideDivImg{
  width: 100%;
  height: 100%;
}

.liDivP{
  padding: 18px 10px;
  color: $primaryWhite;
  margin-left: 15px;
  display: block;
}
