<ul>
    <li>
        <button class="btn btn-primary" type="input"  id="home" routerLink="../" >Home</button>
    </li>
    <li>
        <button class="btn btn-primary" type="input"  id="quiz" routerLink="../chestionarAutoexcludere">Chestionar</button>
    </li>
    <li>
        <button class="btn btn-primary" type="input"  id="medical-results" routerLink="../medical-results">Istoric Programari</button>
    </li>
    <li>
        <button class="btn btn-primary" type="input"  id="medical-results" routerLink="../programare">Programare</button>
    </li>
    <li style="float: right;" ><button class="btn btn-primary" type="button" (click)="openLogoutDialog()">Delogare</button></li>
    <li class="liUserDiv">
            <p class="liDivP" id="username">Ilinca</p>
        
    </li>
</ul>
