<div [ngSwitch]="role">
    <div *ngSwitchCase="'Pacient'">
        <ul>
            <li>
                <button class="btn btn-primary" type="input" id="home" routerLink="../">Acasă</button>
            </li>
            <li>
                <button class="btn btn-primary" type="input" id="quiz"
                    routerLink="/chestionarAutoexcludere">Chestionar</button>
            </li>
            <li>
                <button class="btn btn-primary" type="input" id="medical-results"
                    routerLink="/medical-results">Istoric Programări</button>
            </li>
            <li>
                <button class="btn btn-primary" type="input" id="medical-results"
                    routerLink="/programare">Programare</button>
            </li>
            <li style="float: right;"><button class="btn btn-primary" type="button" (click)="logout()">Delogare</button>
            </li>
            <li class="liUserDiv">
                <p class="liDivP" id="username"></p>

            </li>
        </ul>
    </div>
    <div *ngSwitchCase="'Doctor_Specialist'">
        <ul>
            <li>
                <button class="btn btn-primary" type="input" id="home" routerLink="/doctor-home">Programările
                    curente</button>
            </li>
            <li>
                <button class="btn btn-primary" type="input" id="istoric-programari"
                    routerLink="/istoric-programari">Istoric Medical</button>
            </li>

            <li style="float: right;"><button class="btn btn-primary" type="button" (click)="logout()">Delogare</button>
            </li>
            <li class="liUserDiv">
                <p class="liDivP" id="username"></p>

            </li>
        </ul>
    </div>
    <div *ngSwitchDefault>
        <ul>
            <li>
                <button class="btn btn-primary" type="input" id="home" routerLink="../">Acasă</button>
            </li>
            <li>
                <button class="btn btn-primary" type="input" id="quiz" routerLink="../">Contact</button>
            </li>
            <li style="float: right;"><button class="btn btn-primary" type="button" (click)="redirectToLogin()">Intră in
                    cont</button></li>
        </ul>
    </div>
</div>