<h1>{{response}}</h1>
<div class="page">
    <div class="container">
    </div>
    <div class="right">
        <div class="form">
            <form [formGroup]="loginForm" fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
                <mat-card-content>
                    <p>
                        <mat-form-field class="box" appearance="fill">
                            <mat-label>Email</mat-label>
                            <input matInput maxlength="50" type="text" placeholder="" formControlName="email" id="email"
                                autocomplete="new-password">
                            <mat-error *ngIf=" loginHasError('email', 'required' )">Emailul este obligatoriu</mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="box" appearance="fill">
                            <mat-label>Parola</mat-label>
                            <input matInput type="password" placeholder="**********" formControlName="password"
                                id="password" autocomplete="new-password">
                            <mat-error *ngIf=" loginHasError('password', 'required' )">Parola este obligatorie
                            </mat-error>
                        </mat-form-field>
                    </p>
                </mat-card-content>
                <mat-card-actions class="buttons">
                    <button mat-raised-button color="primary" (click)="onRegister()">Înregistrare
                    </button>
                </mat-card-actions>
                <mat-card-actions class="buttons">
                    <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
                </mat-card-actions>
            </form>
        </div>
    </div>
</div>