<app-navbar></app-navbar>
<mat-spinner class="mat-spinner-color" *ngIf="loading"></mat-spinner>
<mat-toolbar *ngIf="successMsg" color="accent">{{ successMsg }}</mat-toolbar>
<mat-toolbar *ngIf="errorMsg" color="warn">{{ errorMsg }}</mat-toolbar>
<!--<div *ngIf="!loading && !error">-->
<div *ngIf="!loading">
  <table mat-table [dataSource]="appointments" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nume</th>
      <td mat-cell *matCellDef="let appointment"> {{ appointment.personalInformation.name }} </td>
    </ng-container>
    <ng-container matColumnDef="nickname">
        <th mat-header-cell *matHeaderCellDef>Prenume</th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.personalInformation.surname }} </td>
      </ng-container>
      <ng-container matColumnDef="donor_code">
        <th mat-header-cell *matHeaderCellDef>Cod Donator</th>
        <td mat-cell *matCellDef="let appointment"> {{ appointment.appointment.fk_donor_code }} </td>
      </ng-container>
    <ng-container matColumnDef="hour">
      <th mat-header-cell *matHeaderCellDef> Ora Programare </th>
      <td mat-cell *matCellDef="let appointment"> {{ appointment.appointment.appointment_hour }} </td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status Programare </th>
      <td mat-cell *matCellDef="let appointment"> {{ appointment.appointment.appointment_status }} </td>
    </ng-container>
    <ng-container matColumnDef="changeStatus">
      <form [formGroup]="statusPacient">
      <th mat-header-cell *matHeaderCellDef> Status Pacient </th>
      <td mat-cell *matCellDef="let appointment">
        <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select   (selectionChange)='changeStatus($event, appointment.pacient.donor_code, appointment.appointment.appointment_date)'>
          <mat-option *ngFor="let status of statuses" [value]="appointment.pacient.status">
            {{status.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </td>
    </form>
    </ng-container>
    
    <ng-container matColumnDef="tests">
      <th mat-header-cell *matHeaderCellDef> Analize </th>
      <td mat-cell *matCellDef="let appointment"><button
          (click)="viewResults(appointment.appointment.fk_donor_code, appointment.appointment.appointment_date, appointment.appointment.appointment_id)" mat-raised-button
          color="warn">
          Adaugare Analize </button></td>
    </ng-container>
    
    <ng-container matColumnDef="cancel">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let appointment"><button
          (click)="actionButton(appointment.appointment.fk_donor_code, appointment.appointment_date.appointment_status, appointment.appointment.appointment_id)" mat-raised-button
          color="warn">
          Anulare </button></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let appointments; columns: columns"></tr>
  </table>
</div>